.tutorviewsessions-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    position: relative; /* for absolute positioning of Sessioncard */
}

/* Sidebar fixed on the left */
.tutorviewsessions-container > .sidebar {
    width: 250px; 
    min-height: 100%;
    flex-shrink: 0;
}
  @media (max-width: 768px) {
    .tutorviewsessions-page {
    flex-direction: column;
    height: auto;
    }
    
    .tutorviewsessions-page .sidebar {
        width: 100%;
        height: auto;
    }
    
    .sessionlist-centered {
        position: static;
        transform: none;
        width: 100%;
        padding: 10px;
    }
    
    }