.tutorviewsessions-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    position: relative; /* for absolute positioning of Sessioncard */
}

/* Sidebar fixed on the left */
.tutorviewsessions-container > .sidebar {
    width: 250px; 
    min-height: 100%;
    flex-shrink: 0;
}
