.sidebar {
    width: 250px; 
    min-height: 100vh; 
    background-color: #f8f8fc; 
    padding-top: 25px;
}

.sidebar-options {
    width: 100%;
}

.sidebar-option {
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 10px; 
    width: 100%;
    border-left: 5px solid transparent; 
}

.sidebar-button {
    background: #f8f8fc; 
    width: 90%; 
    padding: 8px 15px; 
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    font-weight: 600;
    margin-left: 5%; 
    cursor: pointer;
    border: 3px solid #cfcfcf;
}

.sidebar-button:hover {
    background-color: #e9e9e9; 
}

.sidebar-option.active .sidebar-button {
    background-color: #4EAAF3; 
    border-color: black;
    border: 3px solid;
    
}